<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Daniela Carrate Bahena</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
  </head>
  <body>


    <nav class="navbar shadow bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="../../index.html">Navbar</a>
        </div>
      </nav>  

    <main class="mt-4 mx-5">
        <h2>Vista Principal</h2>
        <hr>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
  </table>
       
    </main>
    <script src="../js/bootstrap.bundle.min.js"></script>
     </body>
</html>